[Unit]
Description=The wwwoffle proxy server
After=network.target
User=wwwoffle
Group=wwwoffle

[Service]
ExecStart=/usr/sbin/wwwoffled -d -c /etc/wwwoffle/wwwoffle.conf
ExecReload=/usr/bin/wwwoffle -config -c /etc/wwwoffle/wwwoffle.conf

[Install]
WantedBy=multi-user.target
